@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--light-DEFAULT));
}

* {
  box-sizing: border-box;
}

.apexcharts-toolbar {
  z-index: 0 !important;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer utilities {
  .bg-lighten {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .bg-darken {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .tutorial-raise {
    position: relative;
    z-index: calc(var(--mui-zIndex-modal) + 1);
    scroll-margin: 10rem;
  }
  .tutorial-table {
    background-color: var(--mui-palette-background-paper);
  }
  .bg-clipped {
    background-image: url('/CleanBG.svg');
    background-size: cover; /* Adjust size as needed (e.g., 'contain', 'auto') */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5rem; /* Match the Tailwind 'rounded-3xl' */
    overflow: auto; /* Ensures anything overflowing the shape is clipped */
  }
}
